.wrapper{
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 10px;
    justify-content: center;

}

.carre1, .carre2, .carre3, .carre4{
    background-color: rgb(136, 174, 136);
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;

}

.active{
    transform: rotate(360deg) scale(0.8);
    background-color: rgb(255, 142, 142);
}

