body{
    background: no-repeat url("background.jpeg");
    background-size: cover;
}

#wrapper{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 5px;
    justify-content: center;
    align-content: center;
}

.rond{
    font-size: 48px;
    color: red;
}

.croix{
    font-size: 48px;
    color: black;
}
.carre{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.tour{
    background-color: black;
    color: white;
    text-align: center;
}